.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
EmilioMBruna_CV.log
brunacvasdasd.txt
EmilioMBruna_CV.aux
EmilioMBruna_CV_short.log
EmilioMBruna_CV.docx
EmilioMBruna_CV.Rproj
EmilioMBruna_CV_2pg.log
